
/* COMMON STYLES */

html{
    height: 100%;
}
body {
    background: #ccc;
    font-family: 'Fira Sans', sans-serif;
    /* font-family: 'FiraSans', sans-serif !important; */
    /* font-family: 'Open','Helvetica Neue', Helvetica, Arial, sans-serif; */
    color: #FFF;
    height: 100%;
    overflow: auto;
}
a{
    font-family: 'Fira Sans', sans-serif !important;
}



/* HERO BLOCK */

.hero-blk{
    background: url('../images/bg-new.png') no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
    background-color: rgba(0,0,0,1);
    /* padding-top: 20px; */
    text-align: left;
    .hero-desc{
        /*line-height: 28px;*/

    }
    .uk-vertical-align-middle {
        width:100%;
    }
    h1 {
        font-family: 'Fira Sans', sans-serif !important;
        font-size: 56px;
        color: #f2e47b;
        /* margin-top: -60px; */
        span {
            font-size: 25px;
            color: #0096D6;
        }
    }
    p {
        margin-top: 20px;
        font-size: 24px;
        font-weight: 300;
        /* font-family: 'Open','Helvetica Neue', Helvetica, Arial, sans-serif; */
        letter-spacing: 1px;
        line-height: 34px;
        color: #ccc;
        span {
            color: #24acbb;
            font-weight: 400;
        }
    }
    .tagline{
        font-size: 18px;
        font-weight: 300;
        margin-top: -10px;
        color: #f2e47b;
    }
    .download-blk{
        text-align: left;
        padding-top: 20px;
        font-size: 22px;
    }
}

.right-blk {
    margin-left: 10px;
    padding: 20px 30px 20px 40px;
    border-left: 1px solid #999;
}

.funnl-logo{
    /*background: url('../images/funnl-logo.png');*/
    -webkit-background-size: 40px;
    background-size: 40px;
    /*height: 40px;*/
    /*width: 40px;*/
    /* float: left; */
    padding-top: 80px;
}
.logo-mobile{
    display: block;
    margin: auto;
    margin-bottom: 20px;
}


.funnl-lg {
    margin-top: 100px;
    margin-bottom: 20px;
}

.mob-view {
    .logo-txt {
        font-size: 30px;
        color: #f2e47b;
        margin:10px 0px 20px;
    }  
    p.tagline {
        font-weight: 300;
        font-size: 14px;
    } 
    p.desc {
        font-size: 18px;
        line-height: 26px;
    }
    .download-btns {
        margin-top:30px;
        margin-bottom: 40px;
        a {
            margin:6px;
            font-size: 14px;
            padding:8px 6px;
            text-align: center;
        }
    }
}

.download-btns{
    margin-top: 20px;
    .android:hover {
        color: #A4C639;
        border:1px solid #A4C639;
        background: none;
    }
    a{
        font-size: 16px;
        border:1px solid #fff;
        border-radius: 5px;
        vertical-align: middle;
        padding: 10px 15px;
        color: #fff;
        background: none;
        text-align: left;
        font-weight: 400;;
        /* line-height: 150%; */
        &:first-child{
            margin-right: 10px;
        }
        &:last-child{
            margin-left: 10px;
        }
        i{
            vertical-align: top;
            /*float: left;*/
            font-size: 36px;
            margin-right: 10px;
            margin-top: -5px;
        }
        div{
            display: inline-block;
        }
        .device-os{
            font-size: 15px;
            display: block;
            margin-top: -5px;
        }
    }
}

/* FEATURE BLOCK */

.feature-blk{
    /* background: #fdfeff; */
    /* padding: 80px 0; */
    position: relative;
    /* height: 50vh; */
    &:nth-child(odd){
        background: -webkit-linear-gradient(left, #fff 0%, #f1f7f9 100%);
        background: -o-linear-gradient(left, #fff 0%, #f1f7f9 100%);
        background: linear-gradient(to right, #fff 0%, #f1f7f9 100%);        
    }
    &:nth-child(even){
        background: #fff;
    }
}

.device-container{
    position: relative;
    .iphone{
        position: absolute;
        width: 280px;
        height: 575px;
        top: 37px;
        z-index: 10;
        overflow: visible;
        top:100px;
        .device-front{
            /* background: url("/images/iphone-sprite.png") no-repeat;
            background-position: -592px -72px;
            background-size: 2007px 919px; */
            background: url("../images/iphone6.png") no-repeat top center;
            /*height: 700px;*/
            width: 280px;
            -webkit-background-size: 100%;
            background-size: 100%;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0; 
            .screen{
                position: absolute;
                top: 70px;
                left: 19px;
                width: 242px;
                height: 429px;
                overflow: hidden;
                .app{
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    overflow: hidden;
                    .project{
                        position: absolute;
                        top: 0;
                        left: 0;
                        bottom: 0;
                        right: 0;
                        overflow: hidden;
                        .photos{
                            background: url('../images/home-sprite.png') top center no-repeat;
                            background-position: 0px 0px;
                            position: absolute;
                            top: 0;
                            left: 0;
                            bottom: 0;
                            right: 0;
                            -webkit-background-size: 100%;
                            background-size: 100%;
                            height: 100%;
                            width: 100%;
                        }
                    }
                }
            }   
        }
    }
}


.feature-content{
    padding: 50px 0;
    .f-title{
        color: $funnl-blue;
        font-size: 30px;
        margin-bottom: 25px;
        line-height: 110%;
    }
    .f-subtitle{
        color: #f06a5d;
        font-size: 22px;
        margin-bottom: 10px;
    }
    .f-icon{
        font-size: 30px;
        margin-right: 10px;
    }
    .f-desc{
        font-size: 15px;
        color: #54656d;
        margin-bottom: 30px;
        &:last-child{
            margin-bottom: 0;
        }
    }
}

/* .card{
    position: absolute;
    top: 0;
    left: 59px;
    bottom: 0;
    width: 242px;
    overflow: hidden;
    .card-img{
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: url('../images/card.png') top center no-repeat;
        -webkit-background-size: 100%;
        background-size: 100%;
        height: 100%;
        width: 100%;
    }
} */

.login{
    position: absolute;
    top: 0;
    /* left: 59px; */
    bottom: 0;
    width: 242px;
    overflow: hidden;
    .login-img{
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: url('../images/login.png') top center no-repeat;
        -webkit-background-size: 100%;
        background-size: 100%;
        height: 100%;
        width: 100%;
    }
}


/* FOOTER */

footer{
    background: #101f34;
    color: #b4bfc8;
    height: 100px;
    line-height: 100px;
    text-align: center;
}

/* HEADER */
/* .funnl-nav{
    text-align: left;
    opacity:0.9;
    padding: 15px 0;
    color: $funnl-blue;
    a{  
        height: 50px;
        color: $funnl-blue;
        text-decoration: none;
        font-size: 20px;
        margin-right: 10px;
        &:hover{
            color: $funnl-blue;
        }
    }
    ul li a{
        height: 50px;
        font-size: 20px;
        color: $funnl-blue;
    }
    .site-name{
        font-size: 26px;
    }
    .uk-navbar-nav > li.uk-active > a{
        background-color: transparent;
        color: $funnl-blue;
    }
    .uk-navbar-nav > li:hover > a{
        background-color: transparent;
        color: $funnl-blue;
    }
} */

/* .uk-offcanvas-bar{
    background: $funnl-blue;
    width: 200px;
    padding: 10px 5px 0px 5px;
    .uk-nav-offcanvas > li > a{
        color: rgb(237, 220, 91);
        font-size: 17px;
        border-bottom: 1px solid  rgba(237, 220, 91, 0.2);
    }
}
 */
.hp-logo{
    background: url('../images/hp-black-logo.png');
    height: 40px;
    width: 40px;
    -webkit-background-size: 40px;
    background-size: 40px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
}


/* DOWNLOAD BLOCK */
.download-blk{
    padding: 45px 0;
    color: #aaaaaa;
    text-align: center;
    a {
        color: #20aab9;
        font-size: 20px;
        &:hover {
            text-decoration:none;
        }
        /*margin-right: 10px;*/
    }
    span {
        display: inline-block;
        margin: 0px 10px;
        font-size: 16px;
    }
    .download-title{
        color: $funnl-blue;
        font-size: 24px;
        margin-bottom: 30px;
    }
    .download-btns a{
        color: #ebf5f9;
        background: rgba(16,45,52,1);
    }
}
.footerhp {
    text-align: right;
    font-size: 13px;
    color: #999;
    padding:40px 5px 10px 0px;
}
.dktop {
    position: absolute;right: 20px;
    bottom:0px;
}